priority 0

snippet " "" i
"${0:${VISUAL}}
endsnippet

snippet ' "" i
'${0:${VISUAL}}
endsnippet

snippet { "" i
{${0:${VISUAL}}
endsnippet

snippet [ "" i
[${0:${VISUAL}}
endsnippet

snippet < "" i
<${0:${VISUAL}}>
endsnippet

snippet / "" i
/${0:${VISUAL}}/
endsnippet

snippet useless "" i
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
$1
endsnippet
